/* Reset Margins  & Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */

.base-container {
  margin: 0 5%;
}

.container {
  display: flex;
}

// Header

.navbar {
  justify-content: center;
}

.shop {
  .productList {
    gap: 15px;
    flex-wrap: wrap;
    max-width: 70%;
    .product {
      flex-direction: column;
      border: 1px solid grey;
      border-radius: 25px;
      text-align: center;
      flex-basis: 200px;
      flex-grow: 1;
      img {
        width: 100px;
      }
    }
  }
  .cart {
    max-width: 30%;
    border: 1px solid grey;
    height: 500px;
    overflow-y: scroll;
    h2 {
      text-align: center;
    }
  }
}
