/* Reset Margins  & Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */

.container {
  display: flex;
}

.shop {

  .products {

    .product {
      border: solid;
    }

    img {
      width: 100px;
      display: block;
    }
  }

  /* CART */

}
