/* Reset Margins  & Fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */
.container {
  display: flex;
}

.navbar {
  justify-content: center;
}

.shop {
  border: 1px solid grey;
}

.shop .shopProducts {
  flex-wrap: wrap;
  gap: 15px;
}

.shop .shopProducts .shopProduct {
  border: 1px solid grey;
  text-align: center;
  flex-grow: 1;
}

.shop .shopProducts .shopProduct img {
  width: 100px;
}

.shop .shopProducts .shopProduct .productDetails {
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.shop .shopProducts .shopProduct .productDetails input::-webkit-outer-spin-button,
.shop .shopProducts .shopProduct .productDetails input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shop .shopProducts .shopProduct .productDetails .addRemove {
  flex-direction: column;
  height: fit-content;
  width: 50%;
}

.cart {
  border: 1px solid grey;
  width: 30%;
  height: fit-content;
}

.cart .cartProducts {
  overflow-y: scroll;
  max-height: 400px;
}

.cart .cartProducts h2 {
  text-align: center;
}

.cart .cartProducts .cartProduct {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.cart .cartProducts .addRemove {
  flex-direction: column;
  height: fit-content;
  width: 50%;
}
