/* Reset Margins  & Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */

.container {
  display: flex;
}

// Header

.navbar {
  justify-content: center;
}
.shop {
  border: 1px solid grey;

  .shopProducts {
    flex-wrap: wrap;
    gap: 15px;

    .shopProduct {
      border: 1px solid grey;
      text-align: center;
      flex-grow: 1;
      img {
        width: 100px;
      }

      .productDetails {
        justify-content: space-around;
        align-items: center;
        border: 1px solid grey;
        list-style: none;
        text-decoration: none;
        color: #000000;
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        .addRemove {
          flex-direction: column;
          height: fit-content;
          width: 50%;
        }
      }
    }
  }
}
.cart {
  border: 1px solid grey;
  width: 30%;
  height: fit-content;

  .cartProducts {
    overflow-y: scroll;
    max-height: 400px;

    h2 {
      text-align: center;
    }

    .cartProduct {
      list-style: none;
      text-decoration: none;
      color: #000000;
    }
    .addRemove {
      flex-direction: column;
      height: fit-content;
      width: 50%;
    }
  }
}
