/* Reset Margins & Fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers & Buttons */
.container {
  display: flex;
}

main {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
}

main .shop {
  border: 1px solid grey;
}

main .shop .shopProducts {
  flex-wrap: wrap;
  gap: 15px;
}

main .shop .shopProducts .shopProduct {
  border: 1px solid grey;
  text-align: center;
  flex-grow: 1;
}

main .shop .shopProducts .shopProduct img {
  width: 100px;
}

main .shop .shopProducts .shopProduct .productDetails {
  margin: 0;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

main .shop .shopProducts .shopProduct .productDetails input::-webkit-outer-spin-button,
main .shop .shopProducts .shopProduct .productDetails input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

main .shop .shopProducts .shopProduct .productDetails .shopProductPrice {
  padding-right: 20px;
}

main .shop .shopProducts .shopProduct .productDetails .addRemove {
  flex-direction: column;
}

main .cart {
  border: 1px solid grey;
  width: 30%;
  height: fit-content;
}

main .cart .cartProducts {
  overflow-y: scroll;
  max-height: 400px;
}

main .cart .cartProducts h2 {
  text-align: center;
}

main .cart .cartProducts .cartProduct {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

main .cart .cartProducts .cartDetails {
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

main .cart .cartProducts .cartDetails input::-webkit-outer-spin-button,
main .cart .cartProducts .cartDetails input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

main .cart .cartProducts .cartDetails .cartProductPrice {
  padding-right: 20px;
}

main .cart .cartProducts .cartDetails .addRemove {
  flex-direction: column;
  width: 50%;
}
